.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
}

.main {
  padding: 0 8px;
  flex: 1 0 auto;
}

.full_container{
  height:100%;
}

.right_header_container {
  display: flex;
  align-items: flex-end;
}

.right_header {
  flex: 1;
  height: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 18px;
  vertical-align: bottom;
}
